{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Maquinaria</div>
            </div>
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-md-2 offset-md-10 col-xs-3 offset-xs-9 pr-0">
                        <p>Cantidad</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>
                                <div class="row my-2">
                                    <div class="col-10">
                                        Cliente 1 / <span class="badge badge-secondary">Reset</span>
                                    </div>
                                    <div class="col-2">
                                        1 €
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row my-2">
                                    <div class="col-10">
                                        Cliente 2 / <span class="badge badge-secondary">Reset</span>
                                    </div>
                                    <div class="col-2">
                                        2 €
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row my-2">
                                    <div class="col-10">
                                        Cliente 3 / <span class="badge badge-secondary">Reset</span>
                                    </div>
                                    <div class="col-2">
                                        3 €
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="separator-dashed"></div>
                <div class="row">
                    <div class="col-2 offset-10">
                        <h3>Total <span class="badge badge-secondary">6 €</span> </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Recaudado</div>
            </div>
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-10">
                                        1 Día
                                    </div>
                                    <div class="col-2">
                                        1 €
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-10">
                                        1 Semana
                                    </div>
                                    <div class="col-2">
                                        4 €
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-10">
                                        1 Mes
                                    </div>
                                    <div class="col-2">
                                        15 €
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-10">
                                        1 Año
                                    </div>
                                    <div class="col-2">
                                        100 €
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="separator-dashed"></div>
                <div class="row">
                    <div class="col-2 offset-10">
                        <h3>Total <span class="badge badge-secondary">6 €</span> </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Averiadas</div>
            </div>
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>
                                <div class="row my-2">
                                    <div class="col-10">
                                        Cliente 4 Averiado
                                    </div>
                                    <div class="col-2">
                                        <span class="badge badge-secondary">Reparar</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row my-2">
                                    <div class="col-10">
                                        Cliente 5 Averiado
                                    </div>
                                    <div class="col-2">
                                        <span class="badge badge-secondary">Reparar</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Mapa</div>
            </div>
            <div class="card-body pb-0">
                <h3>Mapa</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}